/*heading styles*/

.banner{
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 30px auto;
    
}
.heading-hny{
    padding-top: 177px;
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.heading-hnypc{
    margin-top: 16px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}
/*1st main section styles*/

.text{
    text-align: center;
}
.red-off{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700; 
    margin-top: 120px;  
}
.deals{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 0px;
}
.categories{
    margin-top: 16px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}
.hny-img{
    width: 802.9px;
    height: 500px;
}

/*party banner styles*/

.party{
    display: flex;
}
.greetings{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 150px;
    margin-left: 130px;
}
.btn{
    color: white;
    border: none;
    text-decoration: none;
    margin-left: 130px;
    cursor: pointer;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
}
.btn:hover {
    background-color: red;
}

.details{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    margin-left: 130px;
}
.party-section{
    border-radius: 20px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-top: 120px;
    margin-left: 100px;  
}

.party-section{
    display: flex;
}

.img-2024{
    margin-top: 80px;
    margin-left: 40px;
}

/*schedule container styles*/
.schedule-container{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 100px;
    
}
.red{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}
.black{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.btn-red{
    border: none;
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.btn-red:hover{
    background-color: black;
}

/*portfolio section styles*/

.portfolio-section{
    margin: 100px 100px;
}

.gfts{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}
.portfolio-heading{
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.about{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.item-pics{
    width: 412px;
    height: 450px;
    padding: 10px;
}

/*Subscribe section styles*/

.subscribe-section{
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin: 120px auto;
    text-align: center;
    

}
.subscribe-heading{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 0px;
}
.email-logo{
    width: 150px;
    height: 150px;
    justify-content: center;
}
.subscribe-about{
    margin-top: 20px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 800px;
    margin-left: 250px;
}
.email-form{
    border: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 600px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    
}
.subscribe-button{
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    cursor: pointer;
    padding: 10px 20px;
    
}

.subscribe-button:hover {
    background-color: black;
}
.input-box{
    display: flex;
    justify-content: center;
}

/*footer section styles*/

.footer-section{
    background: rgba(255, 255, 255, 0.15);
    background: #070211;
    width: 100%;
    height: 609px;
    
}
.location{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 50px;
}
.cnurl{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    text-align: right;
    margin-top: 100px;
    margin-left: 760px;
}
.hr-line1{
    margin-top 100px;
    width: 1320px;
    height: 0.5px;
}
.hr-line2{
    margin-bottom: 60px;
    width: 1320px;
    height: 0.5px;
}
.copyright{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: inline;
    margin-left: 94px;
}
.uns{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    display: inline;
    margin-left: 860px;

}
.footer-logos{
   margin-left: 600px;
   padding-top: 50px;
   padding-bottom: 50px;
}
.logos{
    padding-left: 20px;
}
.logo-item{
    display: flex;
    
}
